body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(138, 133, 133);
    color: white;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 14px;
}

/* .operators {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    
} */

#display {
    text-align: end;
    width: 353px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 14px;
    font-size: 24px;
    font-weight: bold;
}

button {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 14px;
    margin: 4px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #04AA6D;
    box-shadow: 0 5px #999;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

#add {
    background-color: rgb(245, 175, 46);
}

#subtract {
    background-color: rgb(245, 175, 46);
}

#multiply {
    background-color: rgb(245, 175, 46);
}

#divide {
    background-color: rgb(245, 175, 46);
}

#clear {
    background-color: rgb(201, 12, 12);
    color: white;
} 